.main-header {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 17px;
}

.brand-name {
    color: #d04f4f;
    font-size: 3.5rem;
}

.search-bar-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.search-bar-container .fa-search {
    position: absolute;
    right: 20px;
    z-index: 1000;
}

.search-bar {
    height: 69px;
    background: #e7e7e7;
    border: none;
    border-radius: 5px;
    padding-left: 22px;
    font-size: 1.5rem;
}

.tags-cloud {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.tag-select-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.tag-select-group tag-select {
    margin-right: 20px;
}

.card-group {
    justify-content: space-between;
}

.card-group > .card {
    flex: initial;
    margin-top: 50px;
}

.card-group > .card:first-of-type {
    margin-left: 0;
}