.dropdown {
  margin-right: 20px;

  &-toggle {
    min-width: 170px;
    padding: 24px 15px;
    text-align: left;
    font-size: 1.5rem;

    &::after {
      display: inline-block;
      position: absolute;
      top: 32px;
      right: 18px;
      content: "";
      border-top: .8rem solid;
      border-right: .8rem solid transparent;
      border-bottom: 0;
      border-left: .8rem solid transparent;
    }
  }
}
